/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* shared styles */
  .display-flex{
    display: flex;
  }
  .btn-primary{
    background-color: #FF900E;
    font-weight: 600;
    font-size: 1.25rem;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
  }

  main{
    max-width: 1440px;
    margin: 0 auto;
  }
  main >section{
    margin-top: 130px;
  }
  .section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
  /* header styles */


  /* navbar styles */
  .navbar{
    justify-content: space-between;
    align-items: center;
  }
  .nav-item{
    list-style: none;
    margin-right: 30px;
  }
  .nav-link{
    width: 477px;
    height: 26px;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
  }
  .navbar, .banner{
    max-width: 1440px; 
    margin: 0 auto;
  }
  .brand{
    font-weight: 700;
    font-size: 2.8rem;
  }
  /* dark 02 */
  .text-gray{
    color: #424242;
  }
  /* dark 03 */
  .text-light-gray{
    color: #727272;
  }
  .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
  }
  /* banner related styles */
  .banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }
  .banner-title{
    font-weight: 700;
    font-size: 4rem;
    color: #131313;
  }
  .banner-image{
    width: 100%;
  }
  /* teams and features style */
  .teams{
    align-items: center;
  }
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}

#Quick list{
    font-weight: 500;
}
.of-ours{
    font-weight: 700;
    font-size: 2.81rem;
    color: rgba(19, 19, 19, 1);
}
.txt-features{
    font-weight: 700;
    font-size: 2.81rem;
    color: rgba(255, 144, 14, 1);
}
.features-description{
    font-weight: 1rem;
}
/* facts design */
.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-card{
  border: 1px solid #FF900E;
  border-radius: 8px;
  width: 240px;
  height: 240px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.fact-number{
  font-weight: 600;
  font-size: 2.81rem;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name{
  font-weight:500 ;
  font-size: 1.25rem;
  margin-top: 10px;
}
.fact-description{
  max-width: 540px;
}
  /* responsive media query */
  @media screen and (max-width:576px) {
    .navbar, .nav-links, .teams{
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }
  }
/* medium size device */
@media screen and (min-width: 576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
}